In [37]:
import os
import pandas as pd
import numpy as np

#os.chdir("data")
paths = os.listdir()

def upload_dfs(paths):
    relevant_paths = [path for path in paths if path.endswith(".txt")] 
    dfs = []
    for i in range(len(relevant_paths)):
        path = relevant_paths[i]
        if path == "kegg_names.txt":
            dfs.append((pd.read_fwf(path, header=None, names=["SampleID", "pathway_name"]), path))
        elif path == "metadata.txt":
            dfs.append((pd.read_table(path, header=0), path))
        else:
            dfs.append((pd.read_csv(path, sep=' ', header=0), path))
        dfs[i][0].set_index("SampleID", inplace=True)
    return dfs

dfs = upload_dfs(paths)

In [38]:
dfs[1][0]

           PatientGroup  Gender   AGE   CENTER  SMOKE
SampleID
x10MCx1140           2a     0.0  62.0   France    0.0
x10MCx1143            3     0.0  71.0   France    0.0
x10MCx1145            3     0.0  52.0   France    0.0
x10MCx1146            1     0.0  76.0   France    0.0
x10MCx1151            3     1.0  68.0   France    0.0
...                 ...     ...   ...      ...    ...
x30MCx3379            1     NaN   NaN  Denmark    NaN
x30MCx3384            1     NaN   NaN  Denmark    NaN
x30MCx3414            8     NaN   NaN  Denmark    NaN
x30MCx3422            3     NaN   NaN  Denmark    NaN
x30MCx3423            6     NaN   NaN  Denmark    NaN

[1058 rows x 5 columns]

In [39]:
def peek_at_data(dfs_list):
    for elm in dfs_list:
        print(f'no. of samples: %d, no. of {elm[1].split(".")[0]+"_cols"}: %d ' % elm[0].shape)

peek_at_data(dfs)

no. of samples: 1058, no. of mtx_genus_cols: 710
no. of samples: 1058, no. of metadata_cols: 5
no. of samples: 1058, no. of serum_lipo_cols: 106
no. of samples: 1058, no. of urine_mtb_cols: 50
no. of samples: 1058, no. of mtx_phylum_cols: 33
no. of samples: 1058, no. of serum_mtb_cols: 80
no. of samples: 1058, no. of mtx_family_cols: 246
no. of samples: 1058, no. of mtx_kegg_cols: 660
no. of samples: 1058, no. of mtx_specie_cols: 1938
no. of samples: 1058, no. of mtx_class_cols: 54
no. of samples: 705, no. of kegg_names_cols: 1
no. of samples: 1058, no. of mtx_order_cols: 114

In [47]:
# test

meta = dfs[1][0]
meta
miss = meta.isnull().sum().sum()
tot = np.prod(meta.shape)
print('toal missing values: %d out of toal observations: %d' % (miss, tot))
print('so that\'s %.2f missing \n' % (miss/tot))

toal missing values: 915 out of toal observations: 5290
so that's 0.17 missing

In [48]:
import numpy as np

for i in range(0,6):
    elm = dfs[i]
    df = elm[0]
    if ("metadata" in elm[1]):
        total_missing = df.isnull().sum().sum()
    elif ("kegg_names" in elm[1]):
        continue
    else:
        df[df == 0] = None 
        total_missing = np.sum(np.isnan(df.values))
    total_obs = np.prod(df.shape)
    print(f'In {elm[1].split(".")[0]}-')
    print('toal missing values: %d out of toal observations: %d' % (total_missing, total_obs))
    print('so that\'s %.2f missing \n' % (total_missing/total_obs))

In mtx_genus-
toal missing values: 716364 out of toal observations: 751180
so that's 0.95 missing

In metadata-
toal missing values: 915 out of toal observations: 5290
so that's 0.17 missing

In serum_lipo-
toal missing values: 6196 out of toal observations: 112148
so that's 0.06 missing

In urine_mtb-
toal missing values: 6203 out of toal observations: 52900
so that's 0.12 missing

In mtx_phylum-
toal missing values: 28061 out of toal observations: 34914
so that's 0.80 missing

In serum_mtb-
toal missing values: 0 out of toal observations: 84640
so that's 0.00 missing

In [42]:
for i in range(6,12):
    elm = dfs[i]
    df = elm[0]
    if (("metadata" in elm[1]) or ("kegg_names" in elm[1])):
        continue
    df[df == 0] = None 
    total_missing = np.sum(np.isnan(df.values))
    total_obs = np.prod(df.shape)
    print(f'In {elm[1].split(".")[0]}-')
    print('toal missing values: %d out of toal observations: %d' % (total_missing, total_obs))
    print('so that\'s %.2f missing \n' % (total_missing/total_obs))

In mtx_family-
toal missing values: 237932 out of toal observations: 260268
so that's 0.91 missing

In mtx_kegg-
toal missing values: 104146 out of toal observations: 698280
so that's 0.15 missing

In mtx_specie-
toal missing values: 1893453 out of toal observations: 2050404
so that's 0.92 missing

In mtx_class-
toal missing values: 45305 out of toal observations: 57132
so that's 0.79 missing

In mtx_order-
toal missing values: 106220 out of toal observations: 120612
so that's 0.88 missing